@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



.imgFile{
    display: flex;
    justify-content: space-evenly;
}

.imgFile img{
    height: 300px;
    width: 270px;
}

.itemName{
    text-align: center;
    height: 50px;
    font-family: 'SF_HambakSnow';
    font-size: large;
}

.backgroundItem{
    height: 350px;
    width: 100vw;
}

.itemList{
    margin-top: 100px;
}

.moreLink{
    padding: 90px;
    font-family: 'SF_HambakSnow';
    font-size: larger;
}

.imgPiece{
    margin-top: 30px;

}

